# MySQL-Database
server = example.org
port = 3306
user = foo
pass = foobar
databases = db1, db2, db2, db4

#Add a small copy of a database here
testdb_unit_tests = TESTDB

# Generate and commit word list
updateWordCounts = false

# Create word list
# filter could be one of the following: ignoreCases, onlyNouns
filter = onlyNouns
editUmlauts = true


# Reduce word list
#reduceMethod could be one of the following: percent, frequency
reduceMethod = frequency
percent = 0.9
lowerfreq = 34
higherfreq = 175

# Generate and commit similarities
minimumMatchLength = 4
updateSimilarities = true
similarityThreshold = 0.70